body {
  margin: 0;
}

.border {
  border: none !important
}

.bold {
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.font-bold {
  font-weight: bold;
  /* font-family: 'Apis-Bold'; */
}

.font-regular {
  font-weight: 400;
  /* font-family: 'Apis-Regular'; */
}

.font-medium {
  font-weight: 500;
  /* font-family: 'Apis-Medium'; */
}

.secondary-background.active {
  background-color: #98CFEF;
}

.secondary-background {
  background-color: #F8F8F8;
}

.tab {
  padding: 15px;
  box-shadow: 15px 15px 15px 15px #e3e3e388;
}

.main {
  padding-top: 180px;
}

.appBar::after {
  clear: both;
}

.white {
  background-color: white;
}

.curvedBanner {
  position: relative;

}



@media only screen and (max-width: 600px) {
  .main {
    padding-top: 120px;
  }
}

.hidden {
  display: none !important;
}